# created data
xml/
!xml/day.xsl
reports/
pdf/

# documentation and settings
.classpath
.project
.settings/
doc/

# Byte-compiled / optimized / DLL files
target/
DiabetesDoc.jar
__pycache__/
*.py[cod]
*$py.class

# temp files
*~
