# created data
pdf/
xml/
!xml/day.xsl
reports/
!reports/replaceBitmaps.sh

# documentation and settings
.classpath
.project
.settings/
doc/

# Byte-compiled / optimized / DLL files
target/
DiabetesDoc.jar

# temp files
*~
