# created data
pdf/
xml/
reports/
!reports/replaceBitmaps.sh
DiabetesDoc.properties

# documentation and settings
.classpath
.project
.settings/
doc/

# Byte-compiled / optimized / DLL files
target/
DiabetesDoc.jar

# temp files
*~
